.main-container {
    width: 100%;
    display: flex;
}

.main-container .sidebar {
    width: 20%;
    min-height: 100vh;
    background-color: var(--main-blue);
    padding: 15px;
}

.main-container .sidebar i {
    position: absolute;
    right: 24px;
    top: 16px;
    color: #fff;
    font-size: 34px;
    display: none;
}

.main-container .sidebar .top a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.main-container .sidebar .top a img {
    width: 80px;
}

.main-container .sidebar .top a h3 {
    color: #fff;
    font-size: 21px;
}

.main-container .sidebar .bottom {
    margin-top: 40px;
}

.main-container .sidebar .bottom ul li {
    list-style: none;
    margin-top: 16px;
}

.main-container .sidebar .bottom ul li a {
    width: 100%;
    padding: 9px 12px;
    text-decoration: none;
    /* background-color: #fff; */
    color: #fff;
    display: inline-block;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: .3s;
}

.main-container .sidebar .bottom ul li a:hover {
    color: var(--main-blue);
    background-color: #fff;
}

.main-container .main-content {
    width: 80%;
    min-height: 100vh;
    padding: 12px;
}

.main-container .main-content .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 10px 10px;
    border-bottom: 1px solid #000;
    position: relative;
}

/* Menu */

.menu {
    width: 49px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 5px;
    /* margin-left: 10px; */
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    left: 0;
    top: 0;
}

.menu .lines {
    background-color: #000;
    width: 80%;
    height: 2px;
}

/* Menu */

.main-container .main-content .head .left {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
}

.main-container .main-content .head .left img {
    width: 120px;
}

.main-container .main-content .head .left h2 {
    width: 221px;
    text-align: center;
}

.main-container .main-content .head .right a {
    background-color: var(--main-blue);
    color: #fff;
    padding: 6px 10px;
    border-radius: 6px;
    text-decoration: none;
}

@media screen and (max-width: 940px) {
    .sidebar {
        display: none;
        width: 100% !important;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10;
    }
    .main-container .sidebar i {
        display: unset;
    }
    .main-container .main-content {
        width: 100%;
    }
    .main-container .main-content .head {
        padding: 55px 10px 10px 10px;
    }
    .main-container .main-content .head .menu {
        display: flex;
    }
}

@media screen and (max-width: 590px) {
    .main-container .main-content .head .left img {
        width: 91px;
    }
    .left h2 {
        width: 175px !important;
        font-size: 19px !important;
    }
}

@media screen and (max-width: 475px) {
    .main-container .main-content .head {
        flex-direction: row;
    }
}

@media screen and (max-width: 405px) {
    .main-container .main-content .head {
        flex-direction: column;
        gap: 25px;
    }
}

@media screen and (max-width: 355px) {
    .menu {
        position: unset;
        align-self: flex-start;
    }
    .main-container .main-content .head {
        padding: 5px 10px 10px 10px;
    }
}
