/* .main-content .section {
    padding: 15px;
}

.main-content .section .actions {
    padding: 0 25px;
}

.main-content .section .password-change-div {
    margin-top: 20px;
} */

.section .actions {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 80px 80px;
    row-gap: 6px;
}

.section .actions div {
    padding: 10px;
}

.section .actions input {
    display: block;
    width: 100%;
    padding: 6px 10px;
    font-size: 15px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #000;
    margin-top: 6px;
}

.section .actions .btn {
    margin-top: 8px;
}

.section .actions .btn button {
    padding: 8px 10px;
    outline: none;
    border: 1px solid #000;
    border-radius: 6px;
    cursor: pointer;
    background-color: var(--main-blue);
    color: #fff;
    font-size: 15px;
}

@media screen and (max-width: 940px) {
    .section .actions {
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 600px) {
    .section .actions {
        grid-template-columns: 100%;
    }
    .section .actions .skip-div {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    .actions {
        padding: 0 !important;
    }
    .section {
        padding: 15px 0 !important;
    }
}